.same-name-search input[type="text"] {
    font-size: 1.4rem;
    line-height: 1.42857;
    font-weight: 400;
    -webkit-transition-duration: 334ms;
    transition-duration: 334ms;
    -webkit-transition-property: border-color, -webkit-box-shadow;
    transition-property: border-color, -webkit-box-shadow;
    transition-property: border-color, box-shadow;
    transition-property: border-color, box-shadow, -webkit-box-shadow;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 0 10px;
    width: 100%;
    outline: 0;
    height: 32px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding-left: 33px;
    background-color: #f3f6f8;
    background-image: url("/sc/h/c0uonbbwqt37i7ugb1efzv2wd");
    background-position: 8px -261px;
    background-repeat: no-repeat
}

.same-name-search input[type="text"]::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
    opacity: 1
}

.same-name-search input:-ms-input-placeholder[type="text"] {
    color: rgba(0, 0, 0, 0.6);
    opacity: 1
}

.same-name-search input[type="text"]::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
    opacity: 1
}

.same-name-search input[type="text"]:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
    opacity: 1
}

.same-name-search input[type="text"]::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
    opacity: 1
}

.same-name-search input[type="text"]::placeholder {
    color: rgba(0, 0, 0, 0.6);
    opacity: 1
}

.same-name-search input:hover[type="text"] {
    border-color: rgba(0, 0, 0, 0.9)
}

.same-name-search input:focus[type="text"] {
    border-color: #0073b1;
    -webkit-box-shadow: 0 0 0 1px #0073b1;
    box-shadow: 0 0 0 1px #0073b1
}

.same-name-search input[disabled][type="text"] {
    opacity: .45
}

.same-name-search input[disabled]:hover[type="text"] {
    border-color: rgba(0, 0, 0, 0.6)
}

.same-name-search input.error[type="text"] {
    border-color: #ff2c33
}

.inverse-form .same-name-search input[type="text"],
.same-name-search .inverse-form input[type="text"] {
    background-color: #fff
}

@media (max-width: 769px) {
    .same-name-search input[type="text"] {
        font-size: 1.3rem;
        height: 28px;
        background-position: 2px -289px;
        padding-left: 24px
    }
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    border: 0;
    display: block;
    height: 1px;
    margin: 1rem 0 24px 0;
    padding: 0;
    border-color: rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(0, 0, 0, 0.15)
}

@media (max-width: 976px) {
    hr {
        margin-bottom: 16px
    }
}

input,
select {
    vertical-align: middle
}

#svg-source {
    position: absolute;
    top: 0;
    left: -100px;
    opacity: 0
}

.a11y-text {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    overflow: hidden;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important
}

[data-artdeco-is-focused="true"] {
    outline: none
}

@-webkit-keyframes nodeInserted {
    from {
        opacity: 0.99
    }
    to {
        opacity: 1
    }
}

@keyframes nodeInserted {
    from {
        opacity: 0.99
    }
    to {
        opacity: 1
    }
}

.artdeco-link-variant p a {
    font-weight: bold !important
}

html {
    font-size: 62.5%
}

html.artdeco {
    -webkit-font-smoothing: antialiased
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and (min-device-pixel-ratio: 1.25),
only screen and (-webkit-min-device-pixel-ratio: 2.0833333333333335),
only screen and (min-resolution: 200dpi),
only screen and (min-resolution: 1.25dppx) {
    html.artdeco {
        -webkit-font-smoothing: subpixel-antialiased
    }
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif
}

a {
    text-decoration: none;
    font-weight: 600;
    background-color: transparent;
    border: 0;
    color: #0073b1
}

a:visited {
    color: #0073b1
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #006097
}

a:active {
    color: #004b7c
}

a:visited {
    color: #665ed0
}

a:visited:hover {
    color: #544bc2
}

a:visited:active {
    color: #4034b0
}

strong,
b {
    font-weight: 600
}

body,
p {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9)
}

h1,
.large-header {
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9)
}

h2 {
    font-size: 3.2rem;
    line-height: 1.25;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9)
}

h3,
.large-text {
    font-size: 2.4rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9)
}

h4,
.medium-text {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9)
}

h5,
.small-text {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9)
}

h6 {
    font-size: 1.4rem;
    line-height: 1.42857;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6)
}

em,
i {
    font-style: italic
}

input,
select,
textarea,
button {
    font-family: inherit
}

.small-text {
    font-size: 1.45rem;
    line-height: 1.375
}

blockquote {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.75)
}

.global-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 1128px;
    min-height: 100vh;
    margin: 0;
    background: #283e4a
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

img.lazy-load {
    opacity: 0
}

img.lazy-loaded {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s
}

a:hover {
    text-decoration: underline;
    cursor: pointer
}

#global-alert-queue .alert {
    margin-bottom: 0
}

.meter {
    width: 100%;
    background: #44474a
}

.header {
    background-color: #283e4a;
    padding: 0 12px;
}

.header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 1116px;
    margin: 0 auto
}

.header .wrapper h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.login-form {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
}

.login-form input {
    font-size: 1.2rem;
    line-height: 1.33333;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
    display: inline-block;
    width: 216px;
    height: 32px;
    margin: 10px 8px 10px 0;
    padding: 0 10px;
    background: #f3f6f8;
    border: 1px solid #b3b6b9;
    border-radius: 2px;
}

.login-form input:focus {
    background: #fff;
    outline: 0;
    border: 1px solid #006097
}

.login-form input[type="submit"] {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 600;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    width: auto;
    height: 32px;
    margin: 10px 0 0;
    padding: 0 20px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 2px
}

.login-form input[type="submit"]:hover,
.login-form input[type="submit"]:focus {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.9)
}

.login-form label {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    overflow: hidden;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

.login-form .link-forgot-password {
    font-size: 1.2rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #cdcfd2;
    margin: 0 10px 0 20px
}

.login-form .link-forgot-password:hover,
.login-form .link-forgot-password:focus {
    text-decoration: underline;
    color: white;
    font-weight: bold
}

#login-callout {
    display: block;
    top: 65px;
    left: 0;
    width: 254px;
    text-align: left
}

#login-callout.hidden {
    display: none
}

#login-callout h3 {
    margin: 0 0 5px
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    min-width: 1128px;
    padding: 24px 12px
}

.main.has-subnav {
    padding-top: 54px
}

.main.background.lazy-loaded {
    background: #333 url("/public/img/bg.jpg") repeat top center;
    background-size: cover
}

.main.collage-background.lazy-loaded {
    background: #333 url("/sc/h/395cs30w069a8ur72lhf70i8") repeat top center
}

.main.japan-background.lazy-loaded {
    background: #333 url("/sc/h/ant0gsf8whr8ri3yx30ntit25") repeat top center
}

.main.de-campaign-bg.lazy-loaded {
    background: #333 url("/sc/h/7p6rtpnp3t4gwgoka7ucw4hds") no-repeat center center
}

.main.uk-campaign-bg.lazy-loaded {
    background: #333 url("/sc/h/3t9gu2l3pwzogx2z9xgkveh3s") no-repeat top center
}

.main.fr-campaign-bg.lazy-loaded {
    background: #333 url("/sc/h/1mz7gefpf2mp8virr27jfdf1i") no-repeat center center
}

.main.de-campaign-bg.lazy-loaded,
.main.uk-campaign-bg.lazy-loaded,
.main.fr-campaign-bg.lazy-loaded {
    background-size: cover
}

.main .reg-alert {
    margin-top: 0;
    z-index: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.main .reg-alert.hidden {
    margin-top: -30px
}

.main .reg-form {
    width: 400px;
    padding: 0 0 24px;
    margin: 0 auto;
    border-radius: 2px;
    background: #EDF0F3;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left
}

.main .reg-form .form-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 0 24px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.main .reg-form.split-reg-form {
    margin-top: 66px;
    margin-bottom: 66px
}

.main .reg-form label,
.main .reg-form input {
    font-size: 1.4rem;
    line-height: 1.42857;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    min-width: 0
}

.main .reg-form label.hidden,
.main .reg-form input.hidden {
    display: none
}

.main .reg-form .dual-field {
    -webkit-box-flex: .5;
    -ms-flex: .5;
    flex: .5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    min-width: 0
}

.main .reg-form .dual-field:first-child {
    margin-right: 16px
}

.main .reg-form label:first-of-type {
    margin-top: 16px
}

.main .reg-form .title {
    font-size: 2.4rem;
    line-height: 1.33333;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.9);
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    background: #F6F8FA;
    text-align: center;
    padding: 16px 32px 8px 32px
}

.main .reg-form .subtitle {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    position: relative;
    z-index: 1;
    background: #F6F8FA;
    text-align: center;
    padding: 0 8px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15)
}

.main .reg-form .agreement {
    font-size: 1.2rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    display: block;
    margin-top: 16px;
    margin-bottom: 16px
}

.main .reg-form .agreement.hidden {
    display: none
}

.main .reg-form .agreement a {
    font-size: 1.2rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6)
}

.main .reg-form .agreement a:hover {
    color: #0077B5;
    text-decoration: none
}

.main .reg-form .dismiss-update {
    display: none
}

.main .reg-form label {
    margin: 8px 0 4px
}

.main .reg-form label.split-reg-form-first-input {
    margin-top: 16px
}

.main .reg-form input {
    height: 32px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15)
}

.main .reg-form input.error {
    border: 1px solid #ff2c33
}

.main .reg-form input.split-reg-form-last-input {
    margin-bottom: 24px
}

.main .reg-form input[type="text"],
.main .reg-form input[type="password"] {
    padding: 0 8px
}

.main .reg-form input[type="submit"] {
    background-color: #0073b1;
    border: 0;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: inherit;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 167ms;
    transition-duration: 167ms;
    -webkit-transition-property: background-color, color, -webkit-box-shadow;
    transition-property: background-color, color, -webkit-box-shadow;
    transition-property: background-color, box-shadow, color;
    transition-property: background-color, box-shadow, color, -webkit-box-shadow;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    vertical-align: middle;
    z-index: 0;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
    color: white;
    font-weight: 500
}

@media only screen and (-ms-high-contrast: active) {
    .main .reg-form input[type="submit"] {
        border: 1px solid currentColor;
        line-height: 30px
    }
}

html.ie .main .reg-form input[type="submit"]:focus,
html.edge .main .reg-form input[type="submit"]:focus {
    outline: 1px dashed #7f7f7f
}

.main .reg-form input[type="submit"] li-icon {
    top: 2px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 16px;
    left: 0;
    margin: -12px 0 0 -6px;
    padding: 0 6px 0 0;
    position: relative;
    width: 16px
}

.main .reg-form input[type="submit"] li-icon>svg {
    -webkit-transition: -webkit-transform 167ms;
    transition: -webkit-transform 167ms;
    transition: transform 167ms;
    transition: transform 167ms, -webkit-transform 167ms;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    display: inline-block;
    vertical-align: top
}

.edge .main .reg-form input[type="submit"],
.ie .main .reg-form input[type="submit"] {
    border-radius: 0
}

.main .reg-form input[type="submit"]:hover:not(:disabled):not(.disabled),
.main .reg-form input[type="submit"].hover-not-disabled {
    background-color: #006097;
    color: #fff
}

.main .reg-form input[type="submit"]:focus,
.main .reg-form input[type="submit"].focus {
    background-color: #006097;
    color: #fff
}

.main .reg-form input[type="submit"]:active:not(:disabled):not(.disabled),
.main .reg-form input[type="submit"].active-not-disabled {
    background-color: #004b7c;
    color: #fff
}

.main .reg-form input[type="submit"]:disabled,
.main .reg-form input[type="submit"].disabled {
    color: rgba(255, 255, 255, 0.45);
    background-color: rgba(0, 115, 177, 0.35);
    cursor: not-allowed
}

.main .reg-form input[type="submit"]:focus:not(:disabled):not(.disabled),
.main .reg-form input[type="submit"].hover-not-disabled {
    background-color: #006097;
    color: #fff;
    outline: 5px solid #4D90FE;
    outline-style: auto
}

.main .reg-form .back {
    font-size: 1.4rem;
    line-height: 1.42857;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    display: inline-block;
    width: 100%;
    color: #0091ca;
    line-height: 40px;
    text-align: center;
    border: none;
    background: transparent;
    margin: 0
}

.main .reg-alert-wrap {
    overflow: hidden
}

.main .reg-alert {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 24px;
    overflow: hidden;
    padding: 0 15px;
    position: relative;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 0
}

.main .reg-alert:before {
    background: #ee1620;
    border-radius: 3px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1)
}

.main .reg-alert>div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1128px;
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
    width: 100%
}

.main .reg-alert>div:before {
    background-image: url("/sc/h/cwn0a0e7hog2i33c88ucrvot5");
    background-position: 0 -144px;
    content: "";
    display: block;
    height: 24px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 24px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-delay: .033s;
    transition-delay: .033s;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1)
}

.main .reg-alert>div>p {
    font-size: 1.4rem;
    line-height: 1.42857;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.85);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    margin: 2px 36px 0 36px;
    overflow: hidden;
    position: relative;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-delay: .033s;
    transition-delay: .033s;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1)
}

.main .reg-alert>div>p a {
    color: #fff;
    text-decoration: underline
}

.main .reg-alert>div>button {
    background-color: transparent;
    border: 0;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    font-weight: 600;
    font-family: inherit;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    transition-property: transform, -webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    vertical-align: middle;
    z-index: 0;
    border-radius: 12px;
    text-indent: -999px;
    width: 24px;
    right: 0;
    top: 10px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: .033s;
    transition-delay: .033s
}

@media only screen and (-ms-high-contrast: active) {
    .main .reg-alert>div>button {
        border: 1px solid currentColor;
        line-height: 22px;
        border-width: 0;
        line-height: 24px
    }
}

html.ie .main .reg-alert>div>button:focus,
html.edge .main .reg-alert>div>button:focus {
    outline: 1px dashed #7f7f7f
}

.main .reg-alert>div>button li-icon {
    top: calc(50% + 4px);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 16px;
    left: calc(50% + 4px);
    margin: -12px 0 0 -12px;
    padding: 0;
    position: absolute;
    width: 16px
}

.main .reg-alert>div>button li-icon>svg {
    -webkit-transition: -webkit-transform 167ms;
    transition: -webkit-transform 167ms;
    transition: transform 167ms;
    transition: transform 167ms, -webkit-transform 167ms;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    display: block;
    vertical-align: top
}

.edge .main .reg-alert>div>button,
.ie .main .reg-alert>div>button {
    border-radius: 24px
}

.main .reg-alert>div>button:before {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms
}

.main .reg-alert>div>button:hover:not(:disabled):not(.disabled),
.main .reg-alert>div>button.hover-not-disabled {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff
}

.main .reg-alert>div>button:focus,
.main .reg-alert>div>button.focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff
}

.main .reg-alert>div>button:active:not(:disabled):not(.disabled),
.main .reg-alert>div>button.active-not-disabled {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff
}

.main .reg-alert>div>button:disabled,
.main .reg-alert>div>button.disabled {
    color: rgba(255, 255, 255, 0.35);
    cursor: not-allowed
}

.main .reg-alert.hidden:before {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: transform .667s ease-in, -webkit-transform .667s ease-in;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1)
}

.main .reg-alert.hidden>div:before,
.main .reg-alert.hidden>div>p,
.main .reg-alert.hidden>div>button {
    -webkit-transform: translateY(-77px);
    transform: translateY(-77px);
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .75s;
    transition-duration: .75s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1)
}

.main .reg-alert .message {
    margin-right: 0
}

.main .reg-alert .dismiss-alert {
    display: none
}

.main .reg-alert .screen-reader-text {
    display: none
}

.artdeco-b .reg-form input[type="submit"] {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#efde00), to(#f7c800));
    background-image: linear-gradient(to bottom, #efde00 0%, #f7c800 100%);
    border-radius: 4px;
    border: 1px solid #eaad00;
    color: #000
}

.artdeco-b .reg-form input[type="submit"]:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#efde00), to(#efde00));
    background-image: linear-gradient(to bottom, #efde00 0%, #efde00 100%)
}

.artdeco-b .main .reg-form input[type="submit"]:hover:not(:disabled),
.artdeco-b .main .reg-form input[type="submit"].hover-not-disabled {
    color: #000
}

.artdeco-c .reg-form input[type="submit"] {
    background-color: #60AA14;
    border-radius: 4px
}

.artdeco-c .main .reg-form input[type="submit"]:hover:not(:disabled),
.artdeco-c .main .reg-form input[type="submit"].hover-not-disabled {
    background-color: #5e9a21
}

.meter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #434649;
    padding: 25px 0 0
}

.same-name-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.same-name-search .title {
    font-size: 1.4rem;
    line-height: 1.42857;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
    font-weight: 400;
    line-height: 17px;
    margin-right: 8px
}

.same-name-search input[type="text"] {
    background: #fff;
    padding-left: 10px;
    width: 232px;
    margin-right: 8px
}

.same-name-search .submit-btn {
    background-color: transparent;
    border: 0;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: inherit;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 167ms;
    transition-duration: 167ms;
    -webkit-transition-property: background-color, color, -webkit-box-shadow;
    transition-property: background-color, color, -webkit-box-shadow;
    transition-property: background-color, box-shadow, color;
    transition-property: background-color, box-shadow, color, -webkit-box-shadow;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    vertical-align: middle;
    z-index: 0;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), inset 0 0 0 2px transparent, inset 0 0 0 1px transparent;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), inset 0 0 0 2px transparent, inset 0 0 0 1px transparent;
    color: #fff;
    font-weight: 400
}

@media only screen and (-ms-high-contrast: active) {
    .same-name-search .submit-btn {
        border: 1px solid currentColor;
        line-height: 30px
    }
}

html.ie .same-name-search .submit-btn:focus,
html.edge .same-name-search .submit-btn:focus {
    outline: 1px dashed #7f7f7f
}

.same-name-search .submit-btn li-icon {
    top: 2px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 16px;
    left: 0;
    margin: -12px 0 0 -6px;
    padding: 0 6px 0 0;
    position: relative;
    width: 16px
}

.same-name-search .submit-btn li-icon>svg {
    -webkit-transition: -webkit-transform 167ms;
    transition: -webkit-transform 167ms;
    transition: transform 167ms;
    transition: transform 167ms, -webkit-transform 167ms;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    display: inline-block;
    vertical-align: top
}

.edge .same-name-search .submit-btn,
.ie .same-name-search .submit-btn {
    border-radius: 0
}

.same-name-search .submit-btn:not(:disabled)[data-is-animating-click=true],
.same-name-search .submit-btn:hover:not(:disabled)[data-is-animating-click=true] {
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), inset 0 0 0 2px transparent, inset 0 0 0 1px #fff;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), inset 0 0 0 2px transparent, inset 0 0 0 1px #fff
}

.same-name-search .submit-btn:hover:not(:disabled):not(.disabled),
.same-name-search .submit-btn.hover-not-disabled {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), inset 0 0 0 2px #fff, inset 0 0 0 1px transparent;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), inset 0 0 0 2px #fff, inset 0 0 0 1px transparent
}

.same-name-search .submit-btn:focus,
.same-name-search .submit-btn.focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), inset 0 0 0 2px #fff, inset 0 0 0 1px transparent;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), inset 0 0 0 2px #fff, inset 0 0 0 1px transparent
}

.same-name-search .submit-btn:active:not(:disabled):not(.disabled),
.same-name-search .submit-btn.active-not-disabled {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff
}

.same-name-search .submit-btn:disabled,
.same-name-search .submit-btn.disabled {
    color: rgba(255, 255, 255, 0.35);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.35);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.35);
    cursor: not-allowed
}

.directory {
    font-size: 1.4rem;
    line-height: 1.42857;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 48px;
    background-color: #434649;
    padding: 0 12px
}

.directory .title,
.directory ol,
.directory li {
    font-size: 1.2rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
    font-weight: 300;
    display: inline-block
}

.directory li {
    padding-left: 8px
}

.directory li a {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.85)
}

.directory li a:focus,
.directory li a:hover {
    color: white;
    font-weight: bold
}

.directory li:last-of-type {
    margin-left: 12px;
    padding-left: 12px
}

.directory li:last-of-type a {
    color: rgba(255, 255, 255, 0.85);
    font-weight: 400
}

.directory li:last-of-type a:focus,
.directory li:last-of-type a:hover {
    color: white;
    font-weight: bold
}

.links-container {
    font-size: 1.2rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1128px;
    margin: 0 auto;
    padding: 0 0 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.15)
}

.links-container h3 {
    font-size: 1.2rem;
    line-height: 1.33333;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.85);
    margin: 0 0 8px 4px
}

.links-container .links {
    width: 48%;
    margin-right: 2%;
    margin-top: 30px
}

.links-container li {
    padding-right: 5px;
    margin: 2px 5px 0 0;
    border-right: 1px solid rgba(255, 255, 255, 0.55)
}

.links-container li:last-child {
    padding: 0;
    margin-right: 0;
    border: none
}

.links-container li a {
    text-decoration: none;
    font-weight: 600;
    background-color: transparent;
    border: 0;
    color: #0073b1;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
    display: block;
    padding: 0 4px
}

.links-container li a:visited {
    color: #0073b1
}

.links-container li a:hover,
.links-container li a:focus {
    text-decoration: underline;
    color: #006097
}

.links-container li a:active {
    color: #004b7c
}

.links-container li a:visited {
    color: #665ed0
}

.links-container li a:visited:hover {
    color: #544bc2
}

.links-container li a:visited:active {
    color: #4034b0
}

.links-container li a:focus,
.links-container li a:hover {
    color: white;
    font-weight: bold
}

.links-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

div.hopscotch-bubble {
    background: white;
    border-color: #6c6c6c;
    border-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 5px;
    padding: 15px 15px;
    outline: 0;
    display: block;
    position: absolute;
    visibility: visible;
    z-index: 10;
    background-clip: padding-box;
    font-size: 13px;
    line-height: 17px;
    color: #333333;
    font-weight: normal;
    z-index: 10099
}

div.hopscotch-bubble .hopscotch-bubble-container {
    -webkit-font-smoothing: antialiased
}

div.hopscotch-bubble p {
    margin: 5px 0 0 0
}

div.hopscotch-bubble h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: black;
    margin: 0 15px 0 0;
    padding: 0
}

div.hopscotch-bubble .hopscotch-nav-button {
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    text-decoration: none !important;
    text-align: center;
    width: auto;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    border-radius: 3px;
    padding: 0 10px;
    height: 26px;
    line-height: 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    color: #444444;
    background-color: #f2f2f2;
    border-color: #a7a7a7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), color-stop(32%, #e9e9e9), color-stop(74%, #d8d8d8), to(#d1d1d1));
    background-image: linear-gradient(to bottom, #f2f2f2 0%, #e9e9e9 32%, #d8d8d8 74%, #d1d1d1 100%);
    white-space: nowrap;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    vertical-align: middle
}

div.hopscotch-bubble .hopscotch-nav-button.hover,
div.hopscotch-bubble .hopscotch-nav-button:hover,
div.hopscotch-bubble .hopscotch-nav-button.focus,
div.hopscotch-bubble .hopscotch-nav-button:focus {
    background-color: #e8e8e8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), color-stop(13%, #e3e3e3), color-stop(32%, #d7d7d7), color-stop(71%, #b9b9b9), to(#a9a9a9));
    background-image: linear-gradient(to bottom, #e8e8e8 0%, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25)
}

div.hopscotch-bubble .hopscotch-nav-button.active,
div.hopscotch-bubble .hopscotch-nav-button:active {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset
}

div.hopscotch-bubble .hopscotch-nav-button.disabled,
div.hopscotch-bubble .hopscotch-nav-button[disabled] {
    background-color: #e8e8e8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), color-stop(13%, #e3e3e3), color-stop(32%, #d7d7d7), color-stop(71%, #b9b9b9), to(#a9a9a9));
    background-image: linear-gradient(to bottom, #e8e8e8 0%, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%);
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.6
}

div.hopscotch-bubble .next {
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    text-decoration: none !important;
    text-align: center;
    width: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    padding: 0 10px;
    height: 26px;
    line-height: 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    color: white;
    background-color: #287bbc;
    border-color: #1b5480;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#287bbc), to(#23639a));
    background-image: linear-gradient(to bottom, #287bbc 0%, #23639a 100%);
    white-space: nowrap;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    margin: 0 0 0 10px
}

div.hopscotch-bubble .next.hover,
div.hopscotch-bubble .next:hover,
div.hopscotch-bubble .next.focus,
div.hopscotch-bubble .next:focus {
    background-color: #2672ae;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2672ae), to(#1e4f7e));
    background-image: linear-gradient(to bottom, #2672ae 0%, #1e4f7e 100%);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25)
}

div.hopscotch-bubble .next.active,
div.hopscotch-bubble .next:active {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset
}

div.hopscotch-bubble .next.disabled,
div.hopscotch-bubble .next[disabled] {
    background-color: #2672ae;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2672ae), to(#1e4f7e));
    background-image: linear-gradient(to bottom, #2672ae 0%, #1e4f7e 100%);
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.6
}

div.hopscotch-bubble.hide,
div.hopscotch-bubble .hide,
div.hopscotch-bubble .hide-all {
    display: none
}

div.hopscotch-bubble.invisible {
    opacity: 0
}

div.hopscotch-bubble .hopscotch-bubble-content {
    margin: 0 0 0 40px
}

div.hopscotch-bubble.no-number .hopscotch-bubble-content {
    margin: 0
}

div.hopscotch-bubble .hopscotch-bubble-close {
    color: inherit;
    background: transparent none;
    padding: 0 1px 0 0;
    border: 0;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    overflow: hidden;
    top: 5px;
    right: 5px;
    width: 13px;
    height: 13px;
    text-indent: 14px;
    opacity: 0.5
}

div.hopscotch-bubble .hopscotch-bubble-close:before {
    font-family: "LinkedIn-Glyphs-2.0.7", "LinkedIn-Glyphs";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    font-size: 13px;
    color: inherit;
    content: "\e00f"
}

div.hopscotch-bubble .hopscotch-bubble-close:before {
    vertical-align: top;
    line-height: 1;
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    cursor: pointer
}

div.hopscotch-bubble .hopscotch-bubble-close.hover,
div.hopscotch-bubble .hopscotch-bubble-close:hover,
div.hopscotch-bubble .hopscotch-bubble-close.focus,
div.hopscotch-bubble .hopscotch-bubble-close:focus {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35)
}

div.hopscotch-bubble .hopscotch-bubble-close.hide,
div.hopscotch-bubble .hopscotch-bubble-close.hide-all {
    display: none
}

div.hopscotch-bubble .hopscotch-bubble-number {
    border-radius: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px !important;
    text-align: center;
    display: block;
    float: left;
    background: #F6883F;
    color: #FFF;
    font-size: 17px;
    font-weight: bold
}

div.hopscotch-bubble .hopscotch-actions {
    margin: 10px 0 0;
    text-align: right
}

.hopscotch-bubble-arrow-container.up {
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.5);
    border-width: 17.5px;
    position: absolute;
    display: block;
    left: 10px;
    background-position: -15px 0;
    bottom: 100%;
    background-clip: padding-box;
    border-top-width: 0;
    margin-bottom: 5px
}

.hopscotch-bubble-arrow-container.up:after {
    content: "\0020";
    display: block;
    position: relative;
    border-style: solid;
    border-width: 15px;
    border-color: transparent;
    top: 7.5px;
    border-top-width: 0;
    border-bottom-color: white;
    right: 15px
}

.hopscotch-bubble-arrow-container.down {
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #6c6c6c transparent transparent;
    border-color: rgba(0, 0, 0, 0.5) transparent transparent;
    border-width: 17.5px;
    position: absolute;
    display: block;
    top: 100%;
    left: 10px;
    background-clip: padding-box;
    border-bottom-width: 0;
    margin-top: 5px
}

.hopscotch-bubble-arrow-container.down:after {
    content: "\0020";
    display: block;
    position: relative;
    bottom: 22.5px;
    border-style: solid;
    border-width: 15px;
    border-color: transparent;
    border-bottom-width: 0;
    border-top-color: white;
    right: 15px
}

.hopscotch-bubble-arrow-container.left {
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent #6c6c6c transparent transparent;
    border-color: transparent rgba(0, 0, 0, 0.5) transparent transparent;
    border-width: 17.5px;
    position: absolute;
    display: block;
    top: 10px;
    background-position: 0 -15px;
    right: 100%;
    background-clip: padding-box;
    border-left-width: 0;
    margin-right: 5px
}

.hopscotch-bubble-arrow-container.left:after {
    content: "\0020";
    display: block;
    position: relative;
    bottom: 15px;
    left: 7.5px;
    border-style: solid;
    border-width: 15px;
    border-color: transparent;
    border-left-width: 0;
    border-right-color: white
}

.hopscotch-bubble-arrow-container.right {
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.5);
    border-width: 17.5px;
    position: absolute;
    display: block;
    margin-left: 5px;
    top: 10px;
    left: 100%;
    background-position: -39px -15px;
    background-clip: padding-box;
    border-right-width: 0
}

.hopscotch-bubble-arrow-container.right:after {
    content: "\0020";
    display: block;
    position: relative;
    bottom: 15px;
    border-style: solid;
    border-width: 15px;
    border-color: transparent;
    right: 22.5px;
    border-right-width: 0;
    border-left-color: white
}

.legal-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1128px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 8px 0;
    font-size: 1.2rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
    background-color: #434649
}

.legal-nav .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 20px 0 0;
    color: rgba(255, 255, 255, 0.85)
}

.legal-nav .logo-copyright {
    margin: -3px 5px 0 0;
    width: 56px;
    height: 14px
}

.legal-nav a {
    color: rgba(255, 255, 255, 0.85);
    font-weight: 600
}

.legal-nav a:focus,
.legal-nav a:hover {
    color: white;
    font-weight: bold
}

.legal-nav a:visited {
    color: rgba(255, 255, 255, 0.85)
}

.legal-nav>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 0
}

.legal-nav>ul>li {
    margin: 0 0 0 20px
}

.legal-nav>ul>li:first-child {
    margin: 0
}

.lang-selector-container {
    position: relative
}

#lang-selector-state {
    display: none
}

#lang-selector-state+label {
    font-size: 1.2rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
    font-weight: 600;
    padding-left: 0
}

#lang-selector-state+label:before,
#lang-selector-state+label:after {
    display: none
}

#lang-selector-state:checked ~ #languageSelectorForm {
    display: block
}

#languageSelectorForm {
    display: none
}

.lang-selector-state-label {
    cursor: pointer;
    margin: 0
}

.lang-selector-state-label:hover,
.lang-selector-state-label:focus {
    text-decoration: underline
}

.lang-selector-state-label:focus {
    outline: thin dotted
}

.lang-selector {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 0;
    padding: 5px;
    min-width: 122px;
    border: 1px solid #0073b1;
    background: #fff;
    z-index: 1
}

.lang-selector button {
    background: none;
    border: none;
    color: #0073b1
}

.lang-selector button:hover {
    color: #fff;
    background: #0073b1
}

.lang-selector .current {
    color: #000;
    font-weight: bold
}

.lang-selector .current,
.lang-selector button {
    padding: 5px;
    margin: 0;
    display: block;
    width: 100%;
    text-align: left
}

.lang-selector li {
    margin: 0
}

.china-gov-filing-info {
    width: 1128px;
    margin-bottom: 10px
}

.china-gov-filing-info a,
.china-gov-filing-info img {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle
}

.china-gov-filing-info a {
    margin-right: 10px;
    font-size: 12px;
    font-weight: normal;
    color: #F2F2F2
}

.china-gov-filing-info img {
    margin-right: 5px
}

.china-cn-gov-filing-info {
    width: 1128px;
    margin-bottom: 10px
}

.china-cn-gov-filing-info a,
.china-cn-gov-filing-info img {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle
}

.china-cn-gov-filing-info a,
.china-cn-gov-filing-info span {
    margin-right: 10px;
    font-size: 12px;
    font-weight: normal;
    color: #F2F2F2
}

.china-cn-gov-filing-info img {
    margin-right: 5px
}

#captcha-dialog {
    position: fixed;
    width: 600px;
    top: 75px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 5
}

#captcha-dialog.hide {
    display: none
}

#captcha-dialog:before {
    content: " ";
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10
}

#captcha-dialog .a11y-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px)
}

#captcha-dialog .title,
#captcha-dialog iframe,
#captcha-dialog .close {
    position: relative;
    z-index: 11
}

#captcha-dialog iframe {
    width: 600px;
    height: 410px
}

#captcha-dialog .title {
    background: #333;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    padding: 8px 12px;
    border: 1px solid #939393;
    border-width: 1px 1px 0 1px;
    font-size: 16px;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: #cccfd3
}

#captcha-dialog .close {
    color: #fff;
    background: transparent none;
    padding: 0 1px 0 0;
    border: 0;
    margin: 0 1px 0 0;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    overflow: hidden;
    top: 13px;
    right: 10px;
    width: 13px;
    height: 13px;
    text-indent: 14px;
    opacity: 0.7;
    top: 10px
}

#captcha-dialog .close:before {
    font-family: "LinkedIn-Glyphs-2.0.7", "LinkedIn-Glyphs";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    font-size: 13px;
    color: inherit;
    content: "\e00f";
    vertical-align: top;
    line-height: 1;
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    cursor: pointer
}

.subnav {
    position: absolute;
    top: 52px;
    padding: 8px 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%
}

.subnav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.subnav__item {
    margin-right: 32px
}

.subnav__item:last-child {
    margin-right: 0
}

.subnav__link,
.subnav__link:hover,
.subnav__link:visited,
.subnav__link:visited:hover {
    font-size: 1.4rem;
    line-height: 1.42857;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.85)
}